/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Description: RTL Support For FAQ Collector - Addon For Product Faq Manager
    Created on : May 7, 2015, 9:14:59 AM
    Author     : BlueWindLab
*/


section.bwl-fca-ques-form-container {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
  clear: right;
}

.bwl-fca-ques-form-container .bwl-fca-message-box{
    padding: 6px 6px 6px 2px;
}

p.bwl_fca_question_submit_container{
    text-align: right;
}