section.bwl-fca-ques-form-container {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
  clear: right;
}

.bwl-fca-ques-form-container .bwl-fca-message-box {
  padding: 6px 6px 6px 2px;
}

p.bwl_fca_question_submit_container {
  text-align: right;
}
