@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i, 600, 700,700i');
html{background-color:#FFFFFF;color:#383838;}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

a{
    font-size: 14px;
}
::-moz-selection{background:#444444;color:#DDDDDD;}
::selection{background:#444444;color:#DDDDDD;}
#documenter_sidebar #documenter_logo{background-image:url();}
a{color:#0000FF;}
.btn {
    border-radius:3px;
}

hr{border:0px; border-top:1px solid #EBEBEB;margin-top: 16px !important;}
#documenter_sidebar{
    width: 250px;
}

#documenter_content{
    left: 280px;
}

#documenter_content p{
    max-width: 60%;
}

#documenter_content img{
    box-shadow: 0 0 7px #b8b8b8;
    /*max-width: 99%;*/
    padding: 5px;
}

#documenter_sidebar, #documenter_sidebar ul a{background-color:#DDDDDD;color:#000000; font-size: 13px; font-weight: 400;}
#documenter_sidebar ul{border-top:1px solid #AAAAAA;}
#documenter_sidebar ul a{border-top:1px solid #EEEEEE;border-bottom:1px solid #AAAAAA;color:#444444;}
#documenter_sidebar ul a:hover{background:#444444;color:#DDDDDD;border-top:1px solid #444444;}
#documenter_sidebar ul a.current{background:#444444;color:#DDDDDD;border-top:1px solid #444444;}
#documenter_copyright{display:block !important;visibility:visible !important;}

em{color: #ff0000;}

#documenter_content h1{
    font-weight: 700;  
}

#documenter_content h3{
    font-weight: 600;
}

#documenter_content h4{
    font-weight: 600;
}


.page-header{
    clear: both;
}

#documenter_content .our-products{
    padding: 0;
    clear: both;
}

#documenter_content .our-products li{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 160px;
    min-height: 200px;
    text-align: center;
    padding: 6px 6px;
    
}

#documenter_content .our-products li a{
    line-height: 20px !important;
    display: inline-block;
    padding-bottom: 12px;
    transition: all 0.3s ease-in-out;
}

#documenter_content .our-products li a:hover{
  color: #333333;
}

#documenter_content .our-products img{
    position: relative;
    box-shadow: none;
    display: block;
    margin: 0 auto 6px auto;
}

.custom-img-margin{
    margin: 12px 0;
}

.alert-info-box{
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 12px 24px;
    max-width: 70%;
}

.hidden{
    display:none;
}

.video_help_box{
    box-shadow: 0 0 2px #b8b8b8;
}

.video_help_box a{
    display: block;
    text-decoration: none;
    padding: 24px 24px 12px;
    color: #d62221;
}

.video_help_box a span{
    font-weight: bold;
    position: relative;
    top: -12px;
}

.video_help_box a img{
    box-shadow: none !important;  
}

.doc_faq{
    display: block;
    line-height: 32px;
    text-decoration: none;
    font-size: 16px;
}

.doc_faq strong{
  color: #111111;  
}

.custom-separator{
    margin-bottom: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #CCC;
    display: none;
    
}

/*----- SHOTCODE TOOLTIP ----*/

.sc{
    position: relative;
    color: #0000FF;
}

.sc .tmp_field{
    width: 0px;
    height:  0px;
    border: 0px;
}

.sc_tooltip{
    display: none;
    position: absolute;
    top: 0px;
    background: lightgreen;
    font-size: 12px;
    padding: 0px 11px;
    font-weight: normal;
    width: 32px;
    text-align: center;
    right: -54px;
    margin-left: 0;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 24px;
    color: black;
}

.sc:hover .sc_tooltip{
    display: block;  
}

.sc_msg{
    position: fixed;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    background: lightgreen;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 0;
    text-transform: uppercase;
    display: none;
}